<div class="container">
    <div class="row mt-10">
        <div class="features-item">
            <img alt="Garantili Yedek Parça" class="lazy loaded" data-src="https://cdn.otoparcasan.com/footer_icons/garantibelgeli.svg" data-ll-status="loaded" src="https://cdn.otoparcasan.com/footer_icons/garantibelgeli.svg">
            <p>Garanti Belgeli Ürünler</p>
            <div class="features-tooltip">
                <p>Ürünlerimizin tamamı Faturalı ve garantilidir.</p>
            </div>
        </div>
        <div class="features-item mx-2">
            <img alt="Kolay iade" class="lazy loaded" data-src="https://cdn.otoparcasan.com/footer_icons/kolayiade.svg" data-ll-status="loaded" src="https://cdn.otoparcasan.com/footer_icons/kolayiade.svg">
            <p>14 Gün İçinde Kolay İade</p>
            <div class="features-tooltip">
                <p>Satın aldığınız ürünü ürün veya kutusu hasar görmediği taktirde 14 iş günü içerisinede hiçbir gerekçe göstermeden iade edebilirsiniz.</p>
            </div>
        </div>
        <div class="features-item">
            <img alt="Uyumlu Yedek Parça" class="lazy loaded" data-src="https://cdn.otoparcasan.com/footer_icons/uyumluparcalar.svg" data-ll-status="loaded" src="https://cdn.otoparcasan.com/footer_icons/uyumluparcalar.svg">
            <p>100% Uyumlu Parçalar</p>
            <div class="features-tooltip">
                <p>Seçilen araca listelenen parçalar %100 Uyumludur.</p>
            </div>
        </div>
        <div class="features-item ms-2">
            <img alt="Ödeme Koruma Sistemi" class="lazy loaded" data-src="https://cdn.otoparcasan.com/footer_icons/odemekoruma.svg" data-ll-status="loaded" src="https://cdn.otoparcasan.com/footer_icons/odemekoruma.svg">
            <p>Ödeme Koruma Sistemi</p>
            <div class="features-tooltip">
            <p>Satın almada kullanılan kart bilgilerini sistemimizde hiç bir şekilde bulundurmuyor ve saklamıyoruz.</p>
            </div>
        </div>               
    </div>
</div>